  .bg-gradient-blue {
            background: linear-gradient(135deg, #1e40af, #3b82f6);
        }
        
        .bg-gradient-emerald {
            background: linear-gradient(135deg, #059669, #10b981);
        }
        
        .bg-gradient-purple {
            background: linear-gradient(135deg, #7c3aed, #8b5cf6);
        }
        
        .bg-gradient-indigo {
            background: linear-gradient(135deg, #4f46e5, #6366f1);
        }
        
        .bg-gradient-teal {
            background: linear-gradient(135deg, #0d9488, #14b8a6);
        }

        
   .bg-gradient-sector {
            background: linear-gradient(135deg,#FF5733, #e2a182 );
        }

         .bg-gradient-ambito {
            background: linear-gradient(135deg,#008080 ,#3a928b );
        }

        
