<div class="container mx-auto px-6 py-12">
  <!-- Título Principal -->


 <!-- Container Principal -->
      <div class="mx-auto px-4 py-8">
        <!-- Título Principal -->
        <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center">
          Datos generales | Escuelas, alumnos/as
        </h1>
        
     <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      
           <app-kpi-card-v2 [data]="escuelasPorModalidaNivelKPI()"/>
                    
           <app-kpi-card-v2 [data]="matriculaPorModalidaNivelKPI()"/>
         
           <app-kpi-card-v2 [data]="cargosPoModalidaNivelKPI"/>
         


           <app-kpi-card [data]="escuelasMatriculaPorModalidadNivelComunKPI()"/>

            <app-kpi-card [data]="escuelasMatriculaPorModalidadNivelEspecialKPI()"/>

            <app-kpi-card [data]="escuelasMatriculaPorModalidadNivelAdultosKPI()"/>


           <app-kpi-card-v3 [data]="escuelasPorSectorKPI()"/>

            <app-kpi-card-v3 [data]="matriculaPorSectorKPI()"/>

            <app-kpi-card-v3 [data]="escuelasPorAmbitoKPI()"/>

             <app-kpi-card-v3 [data]="matriculaPorAmbitoKPI()"/>


        </div>
        
      </div>



</div>
