<div class="bg-white rounded-xl shadow-lg overflow-hidden">
  <!-- Header -->
  <div class="bg-gradient-indigo px-8 py-3 text-white">
    <div class="flex items-center justify-center mb-2">
    
      <span class="text-lg font-medium">Común</span>
    </div>

    <div class="flex items-center justify-center">
      <div class="text-center flex-1">
        <div class="text-2xl font-bold">1000</div>
        <div class="text-base opacity-90">Escuelas</div>
      </div>

      <div class="w-px h-15 bg-white bg-opacity-20 mx-8"></div>

      <div class="text-center flex-1">
        <div class="text-2xl font-bold">10000</div>
        <div class="text-base opacity-90">Matricula</div>
      </div>
    </div>
  </div>

  <!-- Body donde irían los datos desagregados -->
  <div class="p-8 flex-col items-center">

   <app-bar-component  [dataOptions]="chartDataOptions"/> 
   
  </div>
</div>
