<div
  class="w-full bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300"
>
  <!-- Header Section -->
  @if(data()) {
    
  <div
    class="grid grid-cols-4 gap-4  px-6 py-8 text-center items-center min-h-[165px]"
    [style.background-color]="data()?.bgColor"
  >
    <!-- Icon -->
    <div class="mb-4 text-white">
      <svg
        class="w-12 h-12 mx-auto text-white"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path [attr.d]="data()?.iconPath"></path>
      </svg>
    </div>

    <div class="col-span-2 text-white">
      <div class="flex flex-col items-center justify-center">
 <!-- Main Number -->
      <div class="text-4xl font-bold mb-2">
        {{ data()?.number | number:'1.0-2' }}
      </div>

      <!-- Label -->
      <div class="text-lg font-medium">
        {{ data()?.title }}
      </div>

      <!-- Sublabel -->
      @if (hasSubtitle()) {
      <div class="text-sm opacity-90 mt-1">
        {{ data()?.subtitle }}
      </div>
      }
      </div>
     
    </div>
     <div class="">
        <app-bar-component [dataOptions]="data()?.chartDataOptionsHeader"/>
     </div>
   
</div>
}

 <!-- ApexCharts Section -->
<!--   @if (showChart()) {
  <div class="p-4 border-b border-gray-200">
    <div class="">
      <div >
       <app-bar-component [dataOptions]="data()?.chartDataOptionsBody"/> 
      </div>
    </div>
   
  </div>
  } -->
  
</div>
